.user{
    display: flex;
    flex-direction: column;
    gap:60px;
    align-items: center;
}

.user h1{
    font-size: 90px;
    align-items: center;
    text-align: center;

}
.user p{
    font-size: 26px;
    font-weight: 600;
    text-align: center;


}
.user img{
    width: 200px;
}

.user-action{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 50px;
}

.user-connect{
    padding: 25px 45px;
    background: linear-gradient(264deg,#8360c3, #2ebf91);
    border-radius: 50px;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
}

.user-connect:hover{
    border: 2px solid white;
}

.user-cv{
    padding: 25px 75px;
    border: 2px solid white;
    font-size: 22px;
    font-weight: 600;
    border-radius: 50px;

}

.user-cv:hover{
    border-color: #2ebf91;
}